#profile{
  height:200px;
  width:200px;
  border-radius: 50%;
}
#squirrel1{
  height:200px;
  width:200px;
}

#squirrel2{
  height:200px;
  width:200px;
}

#squirrel3{
  height:200px;
  width:200px;
}

#squirrel4{
  height:200px;
  width:200px;
}

#squirrel5{
  height:200px;
  width:200px;
}

#squirrel6{
  height:200px;
  width:200px;
}

#squirrel7{
  height:200px;
  width:200px;
}

#squirrel8{
  height:200px;
  width:200px;
}
